/* Page elements */

body {
    --sidebarSize: 10%;
    /* user-select: none; */
    line-height: .9;
    color:#555;
    background-color: white;
}
.darkmode, .darkmode table {
    background-color: #1d2a35 !important;
    color: #ddd !important;
}

#leftSidebar {
    min-width: 15em;
    width: var(--sidebarSize);
    background-color: inherit !important;
}

.content {
    max-height: 100vh;
    overflow-y: hidden;
}

.content-inner {
    background-color: white;
    overflow-y: auto;
    margin: auto auto;
    width: 90%;
    max-height: min-content;
    height: 96vh;
    box-sizing: border-box;
}

.selected {color: #000 !important;
    background-color: #9e9e9e !important;
}

/* Fonts */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(material-icons-outlined.woff2) format('woff2');
}
@font-face {
    font-family: 'Material Icons Filled';
    font-style: normal;
    font-weight: 400;
    src: url(material-icons.woff2) format('woff2');
}

.mi {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.mi-button {
    line-height: 0;
    transform: scale(1.5);
    /* font-size: 1.5em; */
}

.mi-fill {
    font-family: 'Material Icons Filled';
}

/* Chart */

.chart-table {
    position: absolute;
    top: 5px;
    left: 5px;
    opacity: .8;
    display: inline-block;
    pointer-events: none;

    width: unset;
    line-height: 0;
    font-size: x-small;
    box-shadow: #000 1px 1px 1px;
}

.plot-container {
    position: relative;
    width: auto;
    aspect-ratio: 16/9;
    padding-bottom: 0 !important;
}

.bb-chart {
    position: relative;
}

.legend-container {
    padding-top: 0 !important;
}

.bb-legend-item {
    display: inline-block;
}

/* Custom line styles */

.bb-line-LTA, .bb-line-Climatology-Average, .bb-line-Current-Season-Accumulation, .bb-line-Forecast {
    stroke-width: 4px !important;
}

.bb-line-E--LTM {
    stroke-width: 4px !important;
    stroke-dasharray: 6 2;
}

.bb-areas {
    opacity: .5;
}

.bb-area-LTA±20- {
    opacity: .33 !important;
}

.bb-circle-1, .bb-circle-0 {
    opacity: 1 !important;
}

path {
    shape-rendering: geometricPrecision !important;
}
