html, body {
    --sidebarSize: 10%;
    user-select: none;
    line-height: 1.0;
}

.sidebar {
    width: var(--sidebarSize);
}

.content {
    margin-left: calc(var(--sidebarSize));
    /* overflow-y: scroll; */
}

.content-inner {
    align-content: center;
    align-items: center;
    align-self: center;
    width: 90%;
    padding-left: 10%;
}

.plot-container {
    width: auto;
    aspect-ratio: 16/9;
}

.selected {
    background-color: red;
}

/* Custom line styles */

.bb-line-LTA, .bb-line-Avg- {
    stroke-width: 4px !important;
    /* stroke: red !important; */
}

.bb-line-E--LTM {
    stroke-width: 4px !important;
    stroke-dasharray: 6 2;
    /* stroke: black !important; */
}

.bb-areas {
    opacity: .5;
}

.bb-circle-1, .bb-circle-0 {
    opacity: .8 !important;
}

/* path {
    shape-rendering: geometricPrecision !important;
} */